{{ attach_library('duo_blocks_hero/blocks-hero') }}
{%
  set classes = [
    'block',
    'block--hero'
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ content.field_hero_image }}

  <div class="hero-content">
    <div class="hero-content-container">
      {% if label %}
        <h1>{{ label }}</h1>
      {% endif %}

      {{ content|without('field_hero_image') }}
    </div>
  </div>
</section>
