{{ attach_library('duo_blocks_hero/blocks-hero') }}
{%
  set classes = [
    'block',
    'block--hero'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if content.field_hero_image.0 %}
    {# Add the rellax class with the understanding that the rellax library
       needs to be added by the theme. #}
    <div class="hero__image rellax">
      {{ content.field_hero_image.0 }}
    </div>
  {% endif %}

  <div class="hero__content">
    <div class="hero__content-container">
      {% if content.field_hero_title.0 %}
        <h1 class="hero__title">{{ content.field_hero_title.0 }}</h1>
      {% endif %}

      {% if content.field_hero_subtitle.0 %}
        <p class="hero__subtitle">{{ content.field_hero_subtitle.0 }}</p>
      {% endif %}

      {% if content.field_hero_links.0 %}
        <div class="hero__links">
          {% set count = content.field_hero_links['#items']|length - 1 %}

          {% for i in 0..count %}
            {{ content.field_hero_links[i] }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
