{{ attach_library('duo_blocks_hero/blocks-hero') }}
{%
  set classes = [
    'block',
    'block--hero'
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="hero__image">
    {{ content.field_hero_image.0 }}  
  </div>

  <div class="hero__content">
    <div class="hero__content-container">
      {% if content.field_hero_title|render|trim %}
        <h1 class="hero__title">{{ content.field_hero_title.0 }}</h1>
      {% endif %}

      {% if content.field_hero_subtitle|render|trim %}
        <p class="hero__subtitle">{{ content.field_hero_subtitle.0 }}</p>
      {% endif %}

      {% if content.field_hero_links|render|trim %}
        <div class="hero__links">
          {{ content.field_hero_links }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
