{{ attach_library('duo_blocks_cta/blocks-cta') }}
{%
  set classes = [
    'block',
    'block--cta',
    'cta',
    content.field_cta_text_alignment.0['#markup']
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h3 {{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}

  <div class="cta__container">
    {% if content.body.0 %}
      <div class="cta__body">
        {{ content.body }}
      </div>
    {% endif %}

    {% if content.field_cta_links.0 %}
      {% set count = content.field_cta_links['#items']|length - 1 %}

      <div class="cta__links">
        {% for i in 0..count %}
          {{ content.field_cta_links[i] }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
