{{ attach_library('duo_blocks/blocks') }}
{%
  set classes = [
    'block',
  ]
%}
<div{{ attributes.addClass(classes).addClass(extra_class) }}>
  {{ title_prefix }}
  {% if label %}
    <h3 {{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}

  {% if content_attributes|length %}
    <div {{ content_attributes }}>
  {% endif %}

    {% block content %}
      {{ content }}
    {% endblock %}

  {% if content_attributes|length %}
    </div>
  {% endif %}
</div>
